<h1>Usuarios</h1>
<hr>
<div class="row">
    <div class="col-md-1">
        <a href="#" class="btn btn-success" ng-click="vm.mostrarPanelUsuario(true)">
            <span>Nuevo</span>
        </a>
    </div>
    <div class="col-md-11 text-right">
        <input type="text" ng-model="vm.buscar" placeholder="Buscar">
    </div>
</div>
<div class="table-responsive">
   <table class="table table-hover">
      <thread>
          <tr>
              <th class="col-md-2"></th>
              <th class="col-md-1"></th>
              <th class="col-md-9">
                  Nombre
              </th>
              
          </tr>
      </thread>
       <tbody>
            <tr ng-repeat="usuarios in vm.usuarios | filter:vm.buscar">
               <td>
                   <a href="#" class="btn btn-default">
                       <span class="glyphicon glyphicon-pencil"></span>
                   </a>
                  <a href="#" class="btn btn-default">
                       <span class="glyphicon glyphicon-remove"></span>
                   </a>
               </td>
               <td>
                    <img ng-src="{{usuarios.imagenPequena}}" alt="">
               </td>
               <td>
                   {{usuarios.nombre}}
               </td>
            </tr>
       </tbody>
   </table>
    
</div>


<div ng-show="vm.panelUsuarioVisible">
    <div class="overlay">
        <div class="ventanaModal">
           <div class="panelInfo">
           <h2>Editando Usuario</h2>
               <hr>
               <form role="form" name="usuarioForm" novalidate>
                   <div class="row">
                       <div class="col-md-2 text-center">
                           <a href="#">
                               <img src="imagenes/CaptainAmerica128x128.png" style="min-width:128px;min-height: 128px" />
                               <div class="text-center" style="min-width:128px;width 100%;">Cambiar Avatar</div>
                           </a>
                       </div>
                        <div class="form-group col-md-offset-1 col-md-9">
                           <label for="inputNombre">Nombre:</label>
                           <input 
                           type="text"
                           class="form-control"
                           id="inputNombre"
                           placeholder="Nombre"
                           required>
                       </div>
                        <div class="form-group col-md-offset-1 col-md-9">
                           <label for="inputNombre">Puesto:</label>
                           <select name="selectPuesto" 
                                required
                                class="form-control">
                            </select>
                       </div>
                        <div class="form-group col-md-offset-3 col-md-9">
                        <button
                            type="button"
                            class="btn">Guardar</button>
                        <button
                            type="button"
                            class="btn btn-danger"
                            ng-click="vm.mostrarPanelUsuario(false)">Cancel</button>
                       </div>
                   </div>
                   
               </form>
               
            </div>
        </div>
    </div>
</div>